


		body{
			background:black;
			margin: 0;
			padding: 0;
			color: white;
		    font-family: 'Allura', serif;
			/*font-family: 'Dancing Script', cursive;*/
			/*font-family: 'Great Vibes', cursive;*/
			overflow: hidden;
			cursor: url(../images/cursor1.png);

		}
		#words{
			display: block;
		}
		#title{
			margin-top: 1%;
			text-align: center;
			font-size: 200px;
		
			

		}
		#content1{
			text-align: center;
			font-size: 30px;
		

		}
		#content2{
			position:fixed; 
			left: 32%;
			width: 500px;
			font-size: 25px;
		
		}
		#introduction{
			position: fixed;
			top: 51%;
			left: 45%;
		    margin-top: 2%;
			text-align: center;
			font-size: 30px;
			
			
		}
		#instrustion1{
            position: fixed;
			top: 55%;
		    margin-top: 2%;
			left: 32%;
			width: 500px;
			font-size: 25px;
			
		}

		#biankuangup{
			position: fixed;
		    top: 0px;			
			right:-5px;
			width:400px;
			height: 600px;
		}
		#biankuangdown{
			position: fixed;
			bottom: 0px;
			left: -5px;
			width: 400px;
			height: 600px;
		}
		#diwen{
			position: fixed;
			top: 83%;
			left: 15%;
		}
		#backbutton{
			position: fixed;
			top: 80%;
			left: 38%;
			width: 120px;
			height: 80px;
		}
		#backbutton2{
			position: fixed;
			top: 80%;
			left: 52%;
			width: 120px;
			height: 80px;
		}
		#demo{
			position: fixed;
			top: 81%;
			left: 39%;
			font-size: 40px;
			width: 150px;
			
		}

		#video1{
		    display: none;
			position: fixed;
			top: 10%;
			left: 5%;

		}

		#video2{
			display: none;
			position: fixed;
			top: 10%;
			left: 35%;

		}

		#video3{
			display: none;
			position: fixed;
			top: 10%;
			left: 65%;

		}
		#clips{
			display: none;
		}
		#step1,#step2,#step3{
			font-size: 40px;

		}
		#step1{
			position: fixed;
			left: 13%;
		}
		#step2{
			position: fixed;
			left: 46%;
		}
		#step3{
			position: fixed;
			left: 74%;
		}
		#start{
			position: fixed;
			top: 81%;
			left: 53.5%;
			color: white;
			font-size: 40px;
			font-family: 'Allura', cursive;
		}
		#backbutton3{
			display: none;
			position: fixed;
			top: 80%;
			left: 38%;
			width: 120px;
			height: 80px;

		}
		#Back{
			display: none;
			position: fixed;
			top: 81%;
			left: 39%;
			font-size: 40px;
			

		}

		#step1content{
			position: fixed;
			top: 60%;
			left: 5%;
			text-align: left;
			width:380px;
			font-size: 30px;
		
		}
		#step2content{
			position: fixed;
			top: 60%;
			left: 35%;
			text-align: left;
			width:380px;
			font-size: 30px;
		}
		#step3content{
			position: fixed;
			top: 60%;
			left: 65%;
			text-align: left;
			width:380px;
			font-size: 30px;
		}


		@keyframes demo{
			from{

			}
			to{
				opacity: 0;
			}

		}
		@keyframes clips{
			from{

			}
			to{
				display: block;
			}
		}

		